* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

.slider-container {
    overflow-x: hidden;
    position: relative;
    height: 300px;
}

.slider {
    touch-action: pan-x;
    height: 100%;
    display: flex;
    --slider-cols: 1;
}

@media (min-width: 576px) and (max-width: 767px) {
    .slider {
        --slider-cols: 2;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .slider {
        --slider-cols: 3;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .slider {
        --slider-cols: 4;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .slider {
        --slider-cols: 5;
    }
}

@media (min-width: 1400px) {
    .slider {
        --slider-cols: 6;
    }
}


.slider-el {
    background-color: antiquewhite;
}

.slider-el {
    flex-shrink: 0;
    transition: opacity .5s;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
}

.slider-btn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 1.5rem;
    color: white;
    background-color: #000;
    opacity: 0.1;
    cursor: pointer;
    outline: none;
    transition: opacity .3s;
    border: 1px solid black;
}

.slider-btn:hover {
    opacity: 0.3;
}

.slider-btn-left {
    left: 1rem;
}

.slider-btn-right {
    right: 1rem;
}

.slider-img {
    object-fit: cover;
}