@keyframes block-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    position: relative;
}

.picture {
    background: url('slide-1960x857-07.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(80, 11, 92, 0.664);  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-anim {
    opacity: 0;
    animation: block-in .5s linear .5s;
    animation-name: block-in;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-delay: .5s;
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    position: static;
}

.header h1, .section h2 {
    font-family: sans-serif;
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
}

.section-1 {
    background-color: rgb(6, 90, 48);
}

.section-2 {
    background-color: rgb(185, 42, 42);
}

.section-anim {
    opacity: 0;
}

.section-anim.show {
    animation: block-in .5s linear .5s;
    animation-fill-mode: forwards;
}

.main-menu {
    position: fixed;
    z-index: 9999;
    height: 7vh;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.main-menu.show {
    overflow: visible;
}

.menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 2rem;
    margin: 0;    
    align-items: center;
    
}

.menu li {
    list-style-type: none;
    flex-basis: 8rem;
}

.menu a {
    text-decoration: none;
    font-family: sans-serif;
}

@media (max-width: 576px) {
    .hamburger-container {
        display: block;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        top: 100%;
        transform: none;
        padding-top: .5rem;
        width: 100%;        
        background-color: white;
    }
    
    .menu li {
        flex-basis: 1rem;
    }
}