.container {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    justify-content: flex-start;
    /* align-items: stretch; */
    overflow: hidden;
    max-width: 300px;
    height: 400px;
    margin: 0 auto;
    /* flex-wrap: wrap; */
    align-content: flex-start;
}

.flex-elem {
    /* flex-shrink: 0; */
    box-sizing: border-box;
    /* w100 */
    width: 50px;
    height: 50px;
    border: 2px solid black;
    /* m10 */
    /* margin: 10px; */
    padding: 10px;
    /* display: inline-block; */
    background: linear-gradient(45deg, #e66465, #1729ec);
    border-radius: 6px;
    box-shadow: 5px 5px 2px 0px black;
    transition: transform .8s cubic-bezier(0.35,-2.1, 0.31, 5.85);
}

.one {
    flex-basis: 40px;
    flex-shrink: 1;
    /* flex-grow: 1; */
    /* order: 5; */
}
.two {
    flex-basis: 60px;
    flex-shrink: 2;
    /* flex-grow: 1; */
    /* order: 4; */
}
.three {
    flex-basis: 80px;
    flex-shrink: 3;
    /* flex-grow: 1; */
    /* order: 3; */
}
.four {
    flex-basis: 100px;
    flex-shrink: 4;
    /* flex-grow: 1; */
    /* order: 1; */
}
.five {
    flex-basis: 120px;
    flex-shrink: 5;
    /* flex-grow: 1; */
    /* order: 2; */
}

.flex-elem:hover {
    transform: scale(1.2) rotate(90deg);
    /* transform: rotate(90deg); */
}